<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.css.launchpad</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>27FD4CF9-2E14-4102-A6F0-9DEDB53431AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C96E01-248F-4C86-B1F4-EDE9F96C2863</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71FDD8F-3733-4912-8C3F-4CD27361E95F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C96E01-248F-4C86-B1F4-EDE9F96C2863</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7DBCEE1-B7FB-40BE-B0E2-03206126589A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92FA7F38-D1F7-40F4-BB48-E7024C2D1C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cocoo.li</string>
	<key>description</key>
	<string>app Launchpad</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launchpad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hi</string>
				<key>subtext</key>
				<string>hi</string>
				<key>text</key>
				<string>hi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F7DBCEE1-B7FB-40BE-B0E2-03206126589A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/百度Hi.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>92FA7F38-D1F7-40F4-BB48-E7024C2D1C3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zr</string>
				<key>subtext</key>
				<string>zhunru</string>
				<key>text</key>
				<string>zhunru</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27FD4CF9-2E14-4102-A6F0-9DEDB53431AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/BaiduInternalPlatform10-10.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>95C96E01-248F-4C86-B1F4-EDE9F96C2863</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zhunru</string>
				<key>subtext</key>
				<string>zhunru</string>
				<key>text</key>
				<string>zhunru</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F71FDD8F-3733-4912-8C3F-4CD27361E95F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>27FD4CF9-2E14-4102-A6F0-9DEDB53431AA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>92FA7F38-D1F7-40F4-BB48-E7024C2D1C3C</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>95C96E01-248F-4C86-B1F4-EDE9F96C2863</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>F71FDD8F-3733-4912-8C3F-4CD27361E95F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>F7DBCEE1-B7FB-40BE-B0E2-03206126589A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://css3.io</string>
</dict>
</plist>
