<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.css.launchpad</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>27FD4CF9-2E14-4102-A6F0-9DEDB53431AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C96E01-248F-4C86-B1F4-EDE9F96C2863</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31340BDE-EEA3-44FC-9108-F0C729FAEF9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>807CA040-92B9-4733-9602-E08198CF0BD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DB130A3-E9E5-41DD-98B4-4DD5EAD3886E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EE88B84-C550-4743-BC61-B85FD85F88BC</key>
		<array/>
		<key>5D86564D-AFDB-4CCB-AF7B-1373EDFDD32F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EE88B84-C550-4743-BC61-B85FD85F88BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DB130A3-E9E5-41DD-98B4-4DD5EAD3886E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D86564D-AFDB-4CCB-AF7B-1373EDFDD32F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>807CA040-92B9-4733-9602-E08198CF0BD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92FA7F38-D1F7-40F4-BB48-E7024C2D1C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8107B957-52A8-4FA5-A28E-693CB57DE41F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>432DD592-2563-43D2-B81C-3D808D8AD433</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D688EAF-EEC8-4DEE-992A-D816AC89B334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>432DD592-2563-43D2-B81C-3D808D8AD433</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A877BDF7-834F-457F-8D7A-6808728EB609</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A558957-98C1-45F6-88C3-2A29B33A29BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71FDD8F-3733-4912-8C3F-4CD27361E95F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C96E01-248F-4C86-B1F4-EDE9F96C2863</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7DBCEE1-B7FB-40BE-B0E2-03206126589A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>807CA040-92B9-4733-9602-E08198CF0BD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DB130A3-E9E5-41DD-98B4-4DD5EAD3886E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cocoo.li</string>
	<key>description</key>
	<string>app Launchpad</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launchpad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/百度Hi.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>92FA7F38-D1F7-40F4-BB48-E7024C2D1C3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>hi</string>
				<key>subtext</key>
				<string>名称：</string>
				<key>text</key>
				<string>hi</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F7DBCEE1-B7FB-40BE-B0E2-03206126589A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>807CA040-92B9-4733-9602-E08198CF0BD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7DB130A3-E9E5-41DD-98B4-4DD5EAD3886E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>h</string>
				<key>subtext</key>
				<string>名称：</string>
				<key>text</key>
				<string>hi</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31340BDE-EEA3-44FC-9108-F0C729FAEF9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.PBLinkHandler</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>baidu://message/?id={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3EE88B84-C550-4743-BC61-B85FD85F88BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";

$ID_NAM_MAP = array (
	'yk' =&gt; 'syaokun219',	
	'qq' =&gt; 'qiaoqiaozaio',
	'ye' =&gt; '李化云',
	'ad' =&gt; 'GXandoo',
	'xx' =&gt; 'theskyofxier',
	'xl' =&gt; 'FreeIsJ',
	'yy' =&gt; '殷勇02',
	'kk' =&gt; '许愿树8j',
	'sp' =&gt; 'lsp414856335',
	'cy' =&gt; 'chenyang7361',
	'sq' =&gt; '双权汪',
	'qt' =&gt; '喜糖98',
	'zn' =&gt; '迪波威',
	'fj' =&gt; 'wufangjiana',
	'qm' =&gt; '路过的小明',
	'sf' =&gt; '凡速飞',
	'fy' =&gt; 'fankux',
);

if(!isset($ID_NAM_MAP[$query])){
	echo $query;
}
else {
	echo $ID_NAM_MAP[$query];
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D86564D-AFDB-4CCB-AF7B-1373EDFDD32F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zr</string>
				<key>subtext</key>
				<string>zhunru</string>
				<key>text</key>
				<string>zhunru</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27FD4CF9-2E14-4102-A6F0-9DEDB53431AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/BaiduInternalPlatform10-10.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>95C96E01-248F-4C86-B1F4-EDE9F96C2863</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zhunru</string>
				<key>subtext</key>
				<string>zhunru</string>
				<key>text</key>
				<string>zhunru</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F71FDD8F-3733-4912-8C3F-4CD27361E95F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yy</string>
				<key>subtext</key>
				<string>网易音乐</string>
				<key>text</key>
				<string>网易音乐</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8107B957-52A8-4FA5-A28E-693CB57DE41F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/NeteaseMusic.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>432DD592-2563-43D2-B81C-3D808D8AD433</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yinyue</string>
				<key>subtext</key>
				<string>网易音乐</string>
				<key>text</key>
				<string>网易音乐</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D688EAF-EEC8-4DEE-992A-D816AC89B334</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Notes.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>6A558957-98C1-45F6-88C3-2A29B33A29BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bw</string>
				<key>subtext</key>
				<string>备忘录</string>
				<key>text</key>
				<string>备忘录</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A877BDF7-834F-457F-8D7A-6808728EB609</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>27FD4CF9-2E14-4102-A6F0-9DEDB53431AA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>31340BDE-EEA3-44FC-9108-F0C729FAEF9A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>3EE88B84-C550-4743-BC61-B85FD85F88BC</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>432DD592-2563-43D2-B81C-3D808D8AD433</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>5D86564D-AFDB-4CCB-AF7B-1373EDFDD32F</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6A558957-98C1-45F6-88C3-2A29B33A29BE</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>7DB130A3-E9E5-41DD-98B4-4DD5EAD3886E</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>807CA040-92B9-4733-9602-E08198CF0BD5</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8107B957-52A8-4FA5-A28E-693CB57DE41F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>92FA7F38-D1F7-40F4-BB48-E7024C2D1C3C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>95C96E01-248F-4C86-B1F4-EDE9F96C2863</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>9D688EAF-EEC8-4DEE-992A-D816AC89B334</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>A877BDF7-834F-457F-8D7A-6808728EB609</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>F71FDD8F-3733-4912-8C3F-4CD27361E95F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>F7DBCEE1-B7FB-40BE-B0E2-03206126589A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://css3.io</string>
</dict>
</plist>
