<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.css3.web.entry</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2B648188-DA65-43F0-8D1D-7978703EBDF1</key>
		<array/>
		<key>495B9068-C2B1-4D38-9686-307F0B6028F3</key>
		<array/>
		<key>5A38B774-6399-4C66-9F95-3260981897D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC1283D3-E762-429A-9E52-1994C54154AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE602EEA-AB29-4313-89D9-6BACBD084AB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83FB10C0-2240-4ABA-B16A-9F54010C4B42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEF60EB2-20C4-44A9-8EC2-0B64BA1C4879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEB483CC-2E2D-4E26-8BC3-DFCA3388E334</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95722CEE-DA1D-4E35-9910-3EA365CF0F0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B648188-DA65-43F0-8D1D-7978703EBDF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98EB0E53-3FBE-41D2-8673-4EBD44509F70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>495B9068-C2B1-4D38-9686-307F0B6028F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3F31CF7-CD62-481F-8BEA-DC419ED7294E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B648188-DA65-43F0-8D1D-7978703EBDF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEF60EB2-20C4-44A9-8EC2-0B64BA1C4879</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570A9F09-D3F8-4159-85DC-DE8A7360D86B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE602EEA-AB29-4313-89D9-6BACBD084AB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83A58518-07AB-4CA8-BE9E-C889F103F4C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEB483CC-2E2D-4E26-8BC3-DFCA3388E334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83A58518-07AB-4CA8-BE9E-C889F103F4C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB7E6976-A0EF-4DF8-BF65-D80A1A092292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B648188-DA65-43F0-8D1D-7978703EBDF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC1283D3-E762-429A-9E52-1994C54154AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570A9F09-D3F8-4159-85DC-DE8A7360D86B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC720F33-70FA-4F08-BC7D-AE988E93C7EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>495B9068-C2B1-4D38-9686-307F0B6028F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cocoo.li</string>
	<key>description</key>
	<string>web enty</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>web</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tb</string>
				<key>subtext</key>
				<string>吧名：{query}</string>
				<key>text</key>
				<string>进入贴吧frs页</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95722CEE-DA1D-4E35-9910-3EA365CF0F0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://tieba.baidu.com/f?ie=utf-8&amp;kw={query}&amp;fr=search</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2B648188-DA65-43F0-8D1D-7978703EBDF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tieba</string>
				<key>subtext</key>
				<string>吧名：{query}</string>
				<key>text</key>
				<string>进入贴吧frs页</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A3F31CF7-CD62-481F-8BEA-DC419ED7294E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>frs</string>
				<key>subtext</key>
				<string>吧名：{query}</string>
				<key>text</key>
				<string>进入贴吧frs页</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB7E6976-A0EF-4DF8-BF65-D80A1A092292</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>570A9F09-D3F8-4159-85DC-DE8A7360D86B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AEF60EB2-20C4-44A9-8EC2-0B64BA1C4879</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>subtext</key>
				<string>项目名：{query}</string>
				<key>text</key>
				<string>搜索github源</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>83FB10C0-2240-4ABA-B16A-9F54010C4B42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CEB483CC-2E2D-4E26-8BC3-DFCA3388E334</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/8427003?tab=repositories</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>83A58518-07AB-4CA8-BE9E-C889F103F4C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DC1283D3-E762-429A-9E52-1994C54154AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>github</string>
				<key>subtext</key>
				<string>项目名：{query}</string>
				<key>text</key>
				<string>搜索github源</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5A38B774-6399-4C66-9F95-3260981897D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CE602EEA-AB29-4313-89D9-6BACBD084AB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fy</string>
				<key>subtext</key>
				<string>翻译关键词：{query}</string>
				<key>text</key>
				<string>translate zh to en</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC720F33-70FA-4F08-BC7D-AE988E93C7EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://translate.google.cn/#zh-CN/en/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>495B9068-C2B1-4D38-9686-307F0B6028F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>translate</string>
				<key>subtext</key>
				<string>翻译关键词：{query}</string>
				<key>text</key>
				<string>translate zh to en</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>98EB0E53-3FBE-41D2-8673-4EBD44509F70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B648188-DA65-43F0-8D1D-7978703EBDF1</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>495B9068-C2B1-4D38-9686-307F0B6028F3</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>570A9F09-D3F8-4159-85DC-DE8A7360D86B</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>5A38B774-6399-4C66-9F95-3260981897D7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>83A58518-07AB-4CA8-BE9E-C889F103F4C1</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>83FB10C0-2240-4ABA-B16A-9F54010C4B42</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>95722CEE-DA1D-4E35-9910-3EA365CF0F0C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>98EB0E53-3FBE-41D2-8673-4EBD44509F70</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>A3F31CF7-CD62-481F-8BEA-DC419ED7294E</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>AEF60EB2-20C4-44A9-8EC2-0B64BA1C4879</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>CE602EEA-AB29-4313-89D9-6BACBD084AB7</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>CEB483CC-2E2D-4E26-8BC3-DFCA3388E334</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>DB7E6976-A0EF-4DF8-BF65-D80A1A092292</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>DC1283D3-E762-429A-9E52-1994C54154AE</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>DC720F33-70FA-4F08-BC7D-AE988E93C7EA</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://css3.io</string>
</dict>
</plist>
