<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>11</string>
	<key>connections</key>
	<dict>
		<key>0C8CAB88-AFE4-411F-B365-BF51DC903747</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>508E23B3-CA8A-413F-8A6E-8147DC23EB56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>799030DD-F037-401A-9979-3C3D5D46F8F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C8CAB88-AFE4-411F-B365-BF51DC903747</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>1</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>jhkjh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>799030DD-F037-401A-9979-3C3D5D46F8F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>0C8CAB88-AFE4-411F-B365-BF51DC903747</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>qaa</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>`1</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>508E23B3-CA8A-413F-8A6E-8147DC23EB56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>1</string>
	<key>uidata</key>
	<dict>
		<key>0C8CAB88-AFE4-411F-B365-BF51DC903747</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>508E23B3-CA8A-413F-8A6E-8147DC23EB56</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>799030DD-F037-401A-9979-3C3D5D46F8F8</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>1</string>
</dict>
</plist>
